a {
    font-size: 20px;
    color: black;
}

.kinoobzor{
    background-color: grey;
    text-align: center;
    font-style: italic;
}

.kinoobzor h1{
    font-size: 50px;
    margin-top: 30px;
}

.kinoobzor p{
    font-size: 25px;
    margin-top:10px;
}

/* Верхняя панель навигации */
/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: black;
}

.topnav a.authorization{
    float: right;
}


.topnav a.authorization_active{
    float: right;
    background-color: white;
    color: black;
}

/*/////////////////////////////////////////////////////////////*/
body {
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
}

/* Вид для списка */
.items {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-style: italic;
    height: 175px;
}

.items p{
    margin-left: 15px;
}

.items p.info{
    text-align: right;
    margin-right: 10px;
}

.items a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-style: solid;
}

.items img{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.items button{
    font-size: 25px;
    background-color: grey;
}
/*///////////////////////// */
/* authorization and registration */
.logining {
    margin-top: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.logining input {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

.registration {
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

.registration input {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.registration input[id=about]{
    padding: 50px;
}

.registration input[type=submit]{
    text-align: center;
}

/* ///////////////////////*/

.item {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    height: 300px;
}

.item pre{
    font-size: 15px;
}

.item p{
    font-size: 20px;
}

.item img{
    float: left;
    margin-left: 25px;
    margin-top: 25px;
}

.comments_and_reviews{
    float: left;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.comments_and_reviews input[type=submit]{
    background-color: black;
    color: white;
}

.comments_and_reviews input[type=submit].active{
    background-color: white;
    color: black;
}

.comments_and_reviews form{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment_or_review{
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.comment_or_review p1{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.comment_or_review p2{
    color: green;
    background-color: black;
    margin-right: 15px;
}

.comment_or_review p3{
    color: red;
    background-color: black;
    margin-right: 15px;
}

.comment_or_review p{
    margin-left: 5px;
    margin-right: 10px;
}

.comment_or_review a{
    margin-left: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.comment_or_review a.delete{
    float: right;
}

.profile {
    font-size: 15px;
    height: 250px;
    text-align: center;
}

.profile img{
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.favorites {
    font-size: 15px;
    font-style: italic;
    color: black;
}

.favorites li{
    max-width: 150px;
    margin-right: 15px;
    display: table-cell;
}

.favorites a{
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-style: solid;
}


.subs{
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.subs a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-right: 20px;
}

.subs a.block{
    border: 2px solid black;
    border-radius: 5px;
}

.subs img{
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.news{
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.mark{
    float: right;
    margin-right: 15px;
}


.mark a{
    text-decoration: none;
    color: black;
}

.paginator{
    margin-top: 10px;
    font-size: 20px;
    text-align:center;
}

.paginator a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.paginator a.active{
    text-decoration: none;
    font-style: solid;
    font-size: 30px;
    margin-right: 10px;
    background-color: white;
    color: black;
}


