<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
            <a href="main">Главная</a>
            <a href="filmss">Фильмы</a>
            <a href="seriess">Сериалы</a>
            <a href="moviess">Мультфильмы</a>
            <a class="authorization_active" href="authorization">Вход</a>
            <a class="authorization" href="registration">Регистрация</a>
    </div>
    <div class="logining">
        <form>
            <input type="text" id="login" autocomplete="off" value="" placeholder="Логин"><br>
            <input type="password" id="password" autocomplete="off" value="" placeholder="Пароль"><br>
            <input type="submit" value="Вход">
        </form>
    </div>
</body>