<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
        {% if selected == "main" %}
          <a class="active" href="/mainapp/main">Главная</a>
        {% else %}
            <a href="/mainapp/main">Главная</a>
        {% endif %}
        {% if selected == "film" %}
          <a class="active" href="/mainapp/filmss/?page=0">Фильмы</a>
        {% else %}
            <a href="/mainapp/filmss/?page=0">Фильмы</a>
        {% endif %}
        {% if selected == "series" %}
          <a class="active" href="/mainapp/seriess/?page=0">Сериалы</a>
        {% else %}
            <a href="/mainapp/seriess/?page=0">Сериалы</a>
        {% endif %}
        {% if selected == "movie" %}
          <a class="active" href="/mainapp/movies/?page=0">Мультфильмы</a>
        {% else %}
            <a href="/mainapp/movies/?page=0">Мультфильмы</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="authorization" href="/accounts/login">Вход</a>
            <a class="authorization" href="/mainapp/registration">Регистрация</a>
        {% else %}
            <a class="authorization" href="/accounts/logout">Выход</a>
            <a class="authorization" href="/mainapp/profile/?username={{user.get_username}}">{{user.get_username}}</a>
        {% endif %}
    </div>

    {% if item %}
        <div class="item">
            <img src="{{item.poster.url}}" width="200" height="250">
            {% if user.is_authenticated %}
                <div class="mark">
                    {% if user.get_username not in item.get_marked_users %}
                        Оценить:
                        {% for i in i|rjust:10 %}
                        <a href="/mainapp/set_mark/?mark={{forloop.counter}}&amp;item={{item.id}}&amp;selected={{selected}}">★</a>
                        {% endfor %}
                    {% endif %}
                </div>
            <br>
            {% endif %}
            <pre>{{item.get_info}}</pre><br>
            <p>{{item.description}}</p>
        </div>
        {% if user.is_authenticated %}
            <div class="topnav">
                {% if comments %}
                    <a class="active" href='/mainapp/{{selected}}/comments/?id={{item.id}}&amp;item={{selected}}'>Комментарии </a>
                    {% if add_comment %}
                        <a class="authorization_active" href="/mainapp/{{selected}}/comment/add_comment/?id={{item.id}}&amp;item={{selected}}">Добавить</a>
                    {% else %}
                        <a class="authorization" href="/mainapp/{{selected}}/comment/add_comment/?id={{item.id}}&amp;item={{selected}}">Добавить</a>
                    {% endif %}
                {% else %}
                    <a href='/mainapp/{{selected}}/comments/?id={{item.id}}&amp;item={{selected}}'>Комментарии </a>
                {% endif %}
                {% if reviews %}
                    <a class="active" href="/mainapp/{{selected}}/reviews/?id={{item.id}}&amp;item={{selected}}">Рецензии</a>
                    {% if add_review %}
                        <a class="authorization_active" href="/mainapp/{{selected}}/review/add_review/?id={{item.id}}&amp;item={{selected}}">Добавить</a>
                    {% else %}
                        <a class="authorization" href="/mainapp/{{selected}}/review/add_review/?id={{item.id}}&amp;item={{selected}}">Добавить</a>
                    {% endif %}
                {% else %}
                    <a href="/mainapp/{{selected}}/reviews/?id={{item.id}}&amp;item={{selected}}">Рецензии</a>
                {% endif %}
            </div>
            {% if add_comment %}
                <form method="post" action="/mainapp/save_comment/?id={{item.id}}&amp;item={{selected}}&amp;user={{user.get_username}}" >
                    {% csrf_token %}
                    {{form.as_table}}
                    <input type="submit" value="Добавить">
                </form>
            {% endif %}
            {% if add_review %}
                <form method="post" action="/mainapp/save_review/?id={{item.id}}&amp;item={{selected}}&amp;user={{user.get_username}}" >
                    {% csrf_token %}
                    {{form.as_table}}
                    <input type="submit" value="Добавить">
                </form>
            {% endif %}
            {% if comments %}
                {% if comments == "Нет комментариев" %}
                    <h1>{{comments}}</h1>
                {% else %}
                    {% for comment in comments %}
                        <div class="comment_or_review">
                            <a href="/mainapp/profile/?username={{comment.author_id.username}}" >{{comment.author_id.username}}</a>
                            <p1>{{comment.date_published}}</p1>
                            <p>{{comment.text}}</p>
                            {% if comment.author_id.username == user.get_username %}
                                 <p1>{{comment.dislikes}} &#128078; {{comment.likes}} &#128077;</p1>
                                 <a class="delete" href="/mainapp/delete_comment/?id={{item.id}}&amp;item={{selected}}&amp;comment={{comment.id}}">Удалить</a>
                            {% else %}
                                {% if user.get_username in comment.get_marked_usernames %}
                                    <p1>{{comment.dislikes}} &#128078; {{comment.likes}} &#128077;</p1>
                                {% else %}
                                <p1>
                                    <a href="/mainapp/dislike_comment/?id={{item.id}}&amp;item={{selected}}&amp;comment={{comment.id}}&amp;like=0">{{comment.dislikes}} &#128078;</a>
                                    <a href="/mainapp/like_comment/?id={{item.id}}&amp;item={{selected}}&amp;comment={{comment.id}}&amp;like=1" >{{comment.likes}} &#128077;</a>
                                </p1>
                                {% endif %}
                            {% endif %}
                            <br><br>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if reviews %}
                {% if reviews == "Нет рецензий" %}
                    <h1>{{reviews}}</h1>
                {% else %}
                    {% for review in reviews %}
                        <div class="comment_or_review">
                            <a href="/mainapp/profile/?username={{review.author_id.username}}" >{{review.author_id.username}}</a>
                            <p1>{{review.date_published}}</p1><br><br>
                            {% if review.is_positive == True %}
                                <p2>{{review.text}}</p2>
                            {% else %}
                                <p3>{{review.text}}</p3>
                            {% endif %}
                            <br>
                            {% if review.author_id.username == user.get_username %}
                                 <p1>{{review.dislikes}} &#128078; {{review.likes}} &#128077;</p1>
                                <a class="delete" href="/mainapp/delete_review/?id={{item.id}}&amp;item={{selected}}&amp;review={{review.id}}">Удалить</a>
                            {% else %}
                                {% if user.get_username in review.get_marked_usernames %}
                                    <p1>{{review.dislikes}} &#128078; {{review.likes}} &#128077;</p1>
                                {% else %}
                                    <p1>
                                       <a href="/mainapp/dislike_review/?id={{item.id}}&amp;item={{selected}}&amp;review={{review.id}}&amp;like=0">{{review.dislikes}} &#128078;</a>
                                       <a href="/mainapp/like_review/?id={{item.id}}&amp;item={{selected}}&amp;review={{review.id}}&amp;like=1" >{{review.likes}} &#128077;</a>
                                    </p1>
                                {% endif %}
                            {% endif %}
                            <br><br>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% else %}
            <h1>Комментарии и рецензии доступны только авторизированным пользователям</h1>
        {% endif %}
    {% endif %}