<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
        {% if selected == "main" %}
          <a class="active" href="/mainapp/main">Главная</a>
        {% else %}
            <a href="/mainapp/main">Главная</a>
        {% endif %}
        {% if selected == "films" %}
          <a class="active" href="/mainapp/filmss">Фильмы</a>
        {% else %}
            <a href="/mainapp/filmss">Фильмы</a>
        {% endif %}
        {% if selected == "series" %}
          <a class="active" href="/mainapp/seriess">Сериалы</a>
        {% else %}
            <a href="/mainapp/seriess">Сериалы</a>
        {% endif %}
        {% if selected == "movies" %}
          <a class="active" href="/mainapp/moviess">Мультфильмы</a>
        {% else %}
            <a href="/mainapp/moviess">Мультфильмы</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="authorization" href="/accounts/login">Вход</a>
            <a class="authorization" href="registration">Регистрация</a>
        {% else %}
            <a class="authorization" href="/accounts/logout">Выход</a>
            <a class="authorization" href="/mainapp/profile/?username={{user.get_username}}">{{user.get_username}}</a>
        {% endif %}
    </div>

    {% if item %}
        <div class="item">
            <pre>{{item.get_info}}</pre><br>
            <p>{{item.description}}</p>
        </div>
        {% if user.is_authenticated %}
            <div class="topnav">
                {% if comments %}
                    <a class="active" href='/mainapp/film/comments/?id={{item.id}}'>Комментарии </a>
                    {% if add_comment %}
                        <a class="authorization_active" href="/mainapp/film/comment/add">Добавить</a>
                    {% else %}
                        <a class="authorization" href="/mainapp/film/comment/add">Добавить</a>
                    {% endif %}
                {% else %}
                    <a href='/mainapp/film/comments/?id={{item.id}}'>Комментарии </a>
                {% endif %}
                {% if reviews %}
                    <a class="active" href="/mainapp/film/reviews/?id={{item.id}}">Рецензии</a>
                    {% if add_review %}
                        <a class="authorization_active" href="/mainapp/film/review/add">Добавить</a>
                    {% else %}
                        <a class="authorization" href="/mainapp/film/review/add">Добавить</a>
                    {% endif %}
                {% else %}
                    <a href="/mainapp/film/reviews/?id={{item.id}}">Рецензии</a>
                {% endif %}

            </div>
            {% if comments %}
                {% for comment in comments %}
                    {{comment}} передавать через selected
                {% endfor %}
            {% endif %}
            {% if reviews %}
                {% for review in reviews %}
                    {{review}}
                {% endfor %}
            {% endif %}
        {% else %}
            <h1>Комментарии и рецензии доступны только авторизированным пользователям</h1>
        {% endif %}
    {% endif %}