<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
        {% if selected == "main" %}
          <a class="active" href="/mainapp/main">Главная</a>
        {% else %}
            <a href="/mainapp/main">Главная</a>
        {% endif %}
        {% if selected == "films" %}
            <a class="active" href="/mainapp/filmss">Фильмы</a>
        {% else %}
            <a href="/mainapp/filmss">Фильмы</a>
        {% endif %}
        {% if selected == "series" %}
          <a class="active" href="/mainapp/seriess">Сериалы</a>
        {% else %}
            <a href="/mainapp/seriess">Сериалы</a>
        {% endif %}
        {% if selected == "movies" %}
          <a class="active" href="/mainapp/movies">Мультфильмы</a>
        {% else %}
            <a href="/mainapp/movies">Мультфильмы</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="authorization" href="/accounts/login">Вход</a>
            {% if selected == "registration" %}
              <a class="authorization_active" href="/mainapp/registration">Регистрация</a>
            {% else %}
                <a class="authorization" href="/mainapp/registration">Регистрация</a>
            {% endif %}
        {% else %}
            <a class="authorization" href="/accounts/logout">Выход</a>
            {% if selected == "profile" %}
                <a class="authorization_active" href="/mainapp/profile/?username={{user.get_username}}">{{user.get_username}}</a>
            {% else %}
                <a class="authorization" href="/mainapp/profile/?username={{user.get_username}}">{{user.get_username}}</a>
            {% endif %}
        {% endif %}
    </div>

    {% if message %}
        {{message}}
    {% endif %}

    {% if items %}
        {% for item in items %}
            <div class="items">
                {% if selected == "films" %}
                    <a href="film/?id={{item.id}}&amp;item={{selected}}">{{item.name}}</a><br>
                {% endif %}
                {% if selected == "series" %}
                    <a href="series/?id={{item.id}}&amp;item={{selected}}">{{item.name}}</a><br>
                {% endif %}
                <p>{{item.genre}}</p>
                <p>{{item.director}}</p>
                <br><p>{{item.year}}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if profile %}
        <div class="profile">
            <p>{{profile.username}}</p><br>
            <p>{{profile.about}}</p><br>
            <p>{{profile.birthday}}</p><br>
        </div>
    {% endif %}
</body>