<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
        {% if selected == "main" %}
          <a class="active" href="/mainapp/main">Главная</a>
        {% else %}
            <a href="/mainapp/main">Главная</a>
        {% endif %}
        {% if selected == "film" %}
            <a class="active" href="/mainapp/filmss">Фильмы</a>
        {% else %}
            <a href="/mainapp/filmss">Фильмы</a>
        {% endif %}
        {% if selected == "series" %}
          <a class="active" href="/mainapp/seriess">Сериалы</a>
        {% else %}
            <a href="/mainapp/seriess">Сериалы</a>
        {% endif %}
        {% if selected == "movie" %}
          <a class="active" href="/mainapp/movies">Мультфильмы</a>
        {% else %}
            <a href="/mainapp/movies">Мультфильмы</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="authorization" href="/accounts/login">Вход</a>
            {% if selected == "registration" %}
              <a class="authorization_active" href="/mainapp/registration">Регистрация</a>
            {% else %}
                <a class="authorization" href="/mainapp/registration">Регистрация</a>
            {% endif %}
        {% else %}
            <a class="authorization" href="/accounts/logout">Выход</a>
            {% if selected == "profile" and profile.username == user.get_username %}
                <a class="authorization_active" href="/mainapp/profile/?username={{user.get_username}}">{{user.get_username}}</a>
            {% else %}
                <a class="authorization" href="/mainapp/profile/?username={{user.get_username}}">{{user.get_username}}</a>
            {% endif %}
        {% endif %}
    </div>

    {% if message %}
        {{message}}
    {% endif %}

    {% if items %}
        {% for item in items %}
            <div class="items">
                <img src="{{item.poster.url}}" width="125" height="165">
                <p class="info">
                    Комментариев:{{item.get_count_of_comments}}
                    Рецензий:{{item.get_count_of_reviews}}
                    Оценка:{{item.rating}}
                    {% if user.is_authenticated %}
                    {% if item.id in favorites %}
                        <a href="/mainapp/del_from_favorites/?id={{item.id}}&amp;item={{selected}}">♥</a>
                    {% else %}
                        <a href="/mainapp/add_to_favorites/?id={{item.id}}&amp;item={{selected}}">♡</a>
                    {% endif %}
                {% endif %}
                </p>
                <a href="{{selected}}/?id={{item.id}}&amp;item={{selected}}">{{item.name}}</a>
                {% if selected == "series" %}
                    ({{item.get_years}})
                {% else %}
                    ({{item.year}})
                {% endif %}
                <p>{{item.genre}}</p>
                <p>{{item.director}}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if profile %}
        <div class="profile">
            {% if profile.photo %}
                <img src="{{profile.photo.url}}" width="250" height="250">
            {% endif %}
            <p>{{profile.username}}</p>
            <p>{{profile.about}}</p>
            <p>{{profile.birthday}}</p>
            <p>Подписчиков: {{profile.get_subscribers_count}}</p>
            <p>Подписки: {{profile.get_subscriptions_count}}</p>
        </div><br>
        <div class="topnav">
            {% if favorites %}
                <a class="active" href="/mainapp/favorites/?username={{profile.username}}" >Избранное</a>
            {% else %}
                <a href="/mainapp/favorites/?username={{profile.username}}">Избранное</a>
            {% endif %}
            {% if subscriptions %}
                <a class="active" href="/mainapp/subscriptions/?username={{profile.username}}">Подписки</a>
            {% else %}
                <a href="/mainapp/subscriptions/?username={{profile.username}}">Подписки</a>
            {% endif %}
            {% if subscribers %}
                <a class="active" href="/mainapp/subscribers/?username={{profile.username}}">Подписчики</a>
            {% else %}
                <a href="/mainapp/subscribers/?username={{profile.username}}">Подписчики</a>
            {% endif %}
            {% if user.get_username == profile.username %}
                {% if edit %}
                    <a class="authorization_active" href="/mainapp/edit/?username={{profile.username}}">Редактирование профиля</a>
                {% else %}
                    <a class="authorization" href="/mainapp/edit/?username={{profile.username}}">Редактирование профиля</a>
                {% endif %}
            {% else %}
                {% if user_in_subs %}
                    <a class="authorization" href="">Подписаться</a>
                {% else %}
                    <a class="authorization">Отписаться</a>
                {% endif %}
            {% endif %}
        </div>

        {% if favorites %}
            <div class="favorites">
                {% if profile.get_favorite_films %}
                    <h1>Фильмы</h1>
                    <ul>
                        {% for item in profile.get_favorite_films %}
                        <li>
                            <img src="{{item.film_id.poster.url}}" width="125" height="150">
                            <a href="/mainapp/film/?id={{item.film_id.id}}&amp;item=film">{{item.film_id.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                {% if profile.get_favorite_series %}
                    <h1>Сериалы</h1>
                    <ul>
                        {% for item in profile.get_favorite_series %}
                        <li>
                            <img src="{{item.series_id.poster.url}}" width="125" height="150">
                            <a href="/mainapp/series/?id={{item.series_id.id}}&amp;item=series">{{item.series_id.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                {% if profile.get_favorite_movies %}
                    <h1>Мультфильмы</h1>
                    <ul>
                        {% for item in profile.get_favorite_movies %}
                        <li>
                            <img src="{{item.movie_id.poster.url}}" width="125" height="150">
                            <a href="/mainapp/movie/?id={{item.movie_id.id}}&amp;item=movie">{{item.movie_id.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if subscribers %}

        {% endif %}

        {% if subscriptions %}

        {% endif %}

        {% if edit %}
            <form method="post" action="/mainapp/save_edit_profile/?username={{profile.username}}">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                 <input type="submit" value="Сохранить изменения">
            </form>
        {% endif %}
    {% endif %}
</body>