<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
            <a href="main">Главная</a>
            <a href="filmss">Фильмы</a>
            <a href="seriess">Сериалы</a>
            <a href="movies">Мультфильмы</a>
            <a class="authorization" href="/accounts/login">Вход</a>
            <a class="authorization_active" href="registration">Регистрация</a>
    </div>
    <div class="registration">
        <form method="post" action="/mainapp/finish" >
            {% csrf_token %}
            <table>
                    {{form.as_table}}
            </table>
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
</body>