<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="kinoobzor">
        <h1>Kinoobzor</h1>
        <p>Информационный ресурс о кино, сериалах и мультфильмах</p>
    </div>
    <div class="topnav">
            <a href="/mainapp/main">Главная</a>
            <a href="/mainapp/filmss">Фильмы</a>
            <a href="/mainapp/seriess">Сериалы</a>
            <a href="/mainapp/movies">Мультфильмы</a>
            <a class="authorization_active" href="/accounts/login">Вход</a>
            <a class="authorization" href="/mainapp/registration">Регистрация</a>
    </div>
    {% if form.errors %}
        <h1>Неправильный логин и/или пароль</h1>
    {% endif %}
    <div class="logining">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{form.username.label_tag}} {{form.username}} <br>
            {{form.password.label_tag}} {{form.password}} <br>
            <input type="submit" value="Вход">
        </form>
    </div>
</body>